
.mb-narrow {
  margin-bottom: 10px;
}
.mb-wide {
  margin-bottom: 20px;
}

.mb-none {
  margin-bottom: 0;
}

.mb-xtrawide {
  margin-bottom: 40px;
}

.mb-jumbo {
  margin-bottom: 60px;
}
.mt-none {
  margin-top: 0;
}
.mt-narrow {
  margin-top: 10px;
}
.mt-wide {
  margin-top: 20px;
}

.mt-xtrawide {
  margin-top: 40px;
}
.mt-jumbo {
  margin-top: 60px;
}

.pt-narrow {
  padding-top: 10px;
}
.pt-wide {
  padding-top: 20px;
}

.pt-xtrawide {
  padding-top: 40px;
}
.pt-jumbo {
  padding-top: 60px;
}
.pt-none {
  padding-top: 0;
}


.pb-narrow {
  padding-bottom: 10px;
}
.pb-wide {
  padding-bottom: 20px;
}

.pb-xtrawide {
  padding-bottom: 40px;
}

.pb-jumbo {
  padding-bottom: 60px;
}

.pb-none {
  padding-bottom: 0;
}


.list-none {
  list-style: none;
  padding: 0;
  margin: 0;
  span {
    vertical-align: middle;
  }
}
.inline-block {
  display: inline-block;
}

.flb-d {
  display: flex;
}

.flb-a-center {
  align-items: center;
}
.flb-d-column {
  flex-direction: column;
}